<div class="content-footer">

{{- $LastModifierDisplayName := "" }}
{{- $LastModifierEmail := "" }}
{{- $Date := "" }}
{{- $dateFormat := site.Params.dateFormat | default ":date_medium" }}
{{- with .GitInfo }}
  {{- with and (not site.Params.hideAuthorName) .AuthorName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .AuthorEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorDate) .AuthorDate }}
    {{- $Date = . | time.Format $dateFormat }}
  {{- end }}
{{- else }}
  {{- with and (not site.Params.hideAuthorName) .Params.LastModifierDisplayName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .Params.LastModifierEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorDate) .Date }}
    {{- $Date = . | time.Format $dateFormat }}
  {{- end }}
{{- end }}
{{- if $LastModifierDisplayName }}
              <i class='fa-fw fas fa-user'></i> {{ with $LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{ $LastModifierDisplayName }}{{ with $LastModifierEmail }}</a>{{ end }}
{{- end }}
{{- with $Date }}
              <i class='fa-fw fas fa-calendar'></i> {{ . }}
{{- end }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}

{{/* Licence Block */}}


<div class="doc-license">

  {{/*
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
     target="_blank"
     rel="noopener license">

    <img
      src="{{ "images/licenses/by-nc-sa.svg" | relURL }}"
      alt="Creative Commons BY-NC-SA License"
      height="28"
      loading="lazy">

  </a>
  */}}

  <span>
    Content licensed under
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
       target="_blank"
       rel="noopener license">
      CC BY-NC-SA 4.0
    </a>
  </span>

</div>


{{/* New Contributor Block */}}

<div class="doc-contribute">

  {{ if .File }}

  <a
    href="https://github.com/BanjoFox/Safety-Third/edit/main/content/{{ .File.Path }}"
    target="_blank"
    rel="noopener">

    ✏️ Edit this page

  </a>

  <a
    href="https://github.com/BanjoFox/Safety-Third/issues/new?title=Docs:%20{{ .File.Path | urlquery }}&body=Page:%20{{ .Permalink }}%0AFile:%20{{ .File.Path }}%0A%0ADescription:"
    target="_blank"
    rel="noopener">

    🐞 Report issue

  </a>

  <a
    href="https://github.com/BanjoFox/Safety-Third/blob/main/content/{{ .File.Path }}"
    target="_blank"
    rel="noopener">

    📄 View source

  </a>

  {{ end }}

</div>